.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 90%;
  margin: auto;
}

.products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 16px;
  grid-gap: 16px;
  margin-top: 16px;
}

.App__filterCheckboxContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: auto;
}

@media (max-width: 900px) {
  .products-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .products-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .products-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
